.columns {
  padding: 50px 0;
  text-align: left;
}

.columns.centered {
  text-align: center;
}

.columns > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.columns > div > div {
  order: 1;
  flex-basis: auto;
  padding: 20px 0;
  align-self: flex-start;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.edges img {
  width: 178px;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 120px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.edges {
  margin-left: -16px;
  margin-right: -16px;
  height: 150px;
}

.columns.goto-link a {
  position: relative;
  top: -160px;
  right: -375px;
  background-color: var(--background-color-green);
  color: var(--text-color-white);
  text-decoration: none;
  padding:16px 20px;
}

.columns.goto-link a::after {
  content: ">";
}

.columns.short-gap div {
  gap: 25px;
}

.columns h3 {
  line-height: 35px;
  font-size: 25px;
  font-weight: 300;
}

.columns.white-box > div > div {
  background-color: var(--background-color-white);
  align-self: stretch;
}