.our-team ul {
    display: flex;
    list-style-type: none;
}

.our-team ul li {
    margin-right: 20px;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    cursor: pointer;
}

li .active {
    color: green;
}

li .inactive {
    color: black;
}

.team.inactive {
    display: none;
}

.team.active {
    display: block;
}

.team .members {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
}

.our-team .members .member {
    width: 310px;
    height: 446px;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
}

.content {
    display: none;
    background-color: gray;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    animation: fadeOut 1s;
}

.content.active {
    display: block;
    animation: fade-in 1s;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.member .description {
    font-size: 12px;
}