.our-team {
    text-align: left;
}

.our-team p.description {
    text-align: center;
}

.our-team ul {
    display: flex;
    list-style-type: none;
}

.our-team ul li {
    margin-right: 20px;
    text-align: center;
    flex-grow: 1;
    text-transform: uppercase;
    cursor: pointer;
}

li .active {
    color: green;
}

li .inactive {
    color: black;
}

.team.inactive {
    display: none;
}

.team.active {
    display: block;
}

.team .members {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    flex-wrap: wrap;
}

.our-team .members .member {
    height: 446px;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    align-items: stretch;
}

.member.three {
    width: 100%;
}

.member.four {
    width: 100%;
}

.member.five {
    width: 100%;
}

@media (min-width: 750px) {
    .member.three {
        width: 32.7%;
    }
    
    .member.four {
        width: 24.4%;
    }
    
    .member.five {
        width: 24.4%;
    }
}

@media (min-width: 1000px) {
    .member.three {
        width: 32.7%;
    }
    
    .member.four {
        width: 24.4%;
    }
    
    .member.five {
        width: 19.3%;
    }
}

.content {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color-light-black);
    color: var(--text-color-white);
    border-radius: 20px;
    padding: 20px;
    opacity: 0;
    animation: fade-out 1s;
}

.content.active {
    display: flex;
    animation: fade-in 1s;
    opacity: 100;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.member .name {
    font-size: var(--body-font-size-s);
    padding-bottom: 20px;
}

.member .bio {
    font-size: var(--body-font-size-xxs);
    font-weight: 300;
}